// MEDIA QUERIES
@mixin respond($breakpoint) {
  @if $breakpoint == desktop-sm {
    @media only screen and (max-width: 1800px) {
      @content;
    }
  }
  @if $breakpoint == desktop-xsm {
    @media only screen and (max-width: 1350px) {
      @content;
    }
  }
  @if $breakpoint == tablet-land {
    @media only screen and (max-width: 1200px) {
      @content;
    }
  }
  @if $breakpoint == tablet {
    @media only screen and (max-width: 1000px) {
      @content;
    }
  }
  @if $breakpoint == tablet-sm {
    @media only screen and (max-width: 800px) {
      @content;
    }
  }
  @if $breakpoint == mobile-land {
    @media only screen and (max-width: 750px) {
      @content;
    }
  }
  @if $breakpoint == mobile {
    @media only screen and (max-width: 600px) {
      @content;
    }
  }
  @if $breakpoint == mobile-sm {
    @media only screen and (max-width: 420px) {
      @content;
    }
  }
}

// VARIABLES
$boxshadow1: rgba(62, 57, 107, 0.36) 0px 16px 38px -12px,
  rgba(62, 57, 107, 0.12) 0px 4px 25px 0px,
  rgba(62, 57, 107, 0.2) 0px 8px 10px -5px;
$boxshadow2: rgba(0, 0, 0, 0.12) 0px 3px 13px 1px;

$padding-sides-desktop: 10vw;
$padding-sides-mobile: 5vw;

$color1: #1c2c54;
$color2: #00073d;
$color3: #020b52;
$color4: #1976d2;
